{% load static %}
{% load nav %}

<a id="user_id" style="display: none;">{{ request.user.id }}</a>
<section id="menu_main" class="select_off">
    <nav role="navigation">
        <ul>
            <li class="topmenu topmenu-left item_logo"><a href="/"><i class="fl icon-diamond"></i><span>{{  pag_title  }}</span></a></li>

            {% if username %}
            <li id="navMap" class="topmenu topmenu-left"><a href="/map/"><i class="fa fa-globe fa-md"></i>Карта</a></li>

            {#<li id="navDat" class="topmenu topmenu-left"><a href="/dat/"><i class="fa fa-database fa-md"></i>Данные</a></li>#}
            <li id="nav-graph" class="topmenu topmenu-left"><a href="/graph/"><i class="fa fa-project-diagram fa-md"></i>Граф</a></li>

            <!--
            {% if request.user.is_superuser %}
            <li id="navTest" class="topmenu topmenu-left"><i class="fa fa-table fa-md"></i><a>Анализ</a>
                <ul class="submenu">
                    <li><a href="/about/" target="_blank"><i class="fa fa-info-circle fa-md"></i>Диния А</a></li>
                    <li><a><i class="fa fa-file-alt fa-md"></i>Линия О</a>
                        <ul class="submenu">
                            <li id="form_1"><i class="fa fa-key fa-md"></i>Форма 1</a></li>
                            <li><a href="/dat/" target="_blank"><i class="fa fa-key fa-md"></i>Форма 2</a></li>
                            <li><a href="/admin/password_change/" target="_blank"><i class="fa fa-key fa-md"></i>Форма 3</a></li>
                            <li><a href="/admin/password_change/" target="_blank"><i class="fa fa-key fa-md"></i>Форма 4</a></li>
                            <li><a></i>Выйти</a>
                                <ul class="submenu">
                                    <li><a href="/admin/password_change/" target="_blank"><i class="fa fa-key fa-md"></i>Изменить пароль</a></li>
                                    <li><a href="/auth/logout/"><i class="fa fa-sign-out-alt fa-md"></i>Выйти</a>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/about/" target="_blank"><i class="fa fa-info-circle fa-md"></i>Диния И</a></li>
                    <li><a href="/about/" target="_blank"><i class="fa fa-info-circle fa-md"></i>Диния Д</a></li>
                </ul>
            </li>
            {% endif %}

            {% if request.user|group_verify:"type_ord" %}
            <li id="navMon" class="topmenu topmenu-left"><a href="/mon/"><i class="fa fa-eye fa-md"></i>ОРД</a></li>
            {% endif %}
            -->

            <li class="topmenu topmenu-right topmenu-user"><i class="fa fa-user fa-md"></i><a>{{ username }}</a>
                <ul class="submenu">
                    <li><a href="/admin/password_change/" target="_blank"><i class="fa fa-key fa-md"></i>Изменить пароль</a></li>
                    <li><a href="/auth/logout/"><i class="fa fa-sign-out-alt fa-md"></i>Выйти</a></li>
                </ul>
            </li>
            {% endif %}


            <li class="topmenu topmenu-right"><i class="fa fa-tools fa-md"></i><a>Инструменты</a> <!-- i topmenu-icononly -->
                <ul class="submenu">
                    <li><a><i class="fa fa-envelope fa-md"></i>Уведомления</a>
                        <ul class="submenu">
                            <li onclick="alerts.get()"><a><i class="fa fa-eye fa-md"></i>Показать</a></li>
                            <li onclick="alerts.dlg_admin()"><a><i class="fa fa-plus fa-md"></i>Создать</a></li>
                            <li id="topmenu_alerts_on" onclick="topmenu_alerts(true)"><i class="fa fa-check fa-md"></i>Включить</a></li>
                            <li id="topmenu_alerts_off" onclick="topmenu_alerts(false)"><i class="fa fa-times fa-md"></i>Отключить</a></li>
                            {% if request.user.is_superuser %}
                            <li><a href="/admin/home/model_alerts/" target="_blank"><i class="fa fa-cog fa-md"></i>Управление</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li id="topmenu_hints_on" onclick="topmenu_hints(true)"><i class="fa fa-check fa-md"></i>Подсказки включить</a></li>
                    <li id="topmenu_hints_off" onclick="topmenu_hints(false)"><i class="fa fa-times fa-md"></i>Подсказки отключить</a></li>
                    <li class="divider"></li>

                    <li id="topmenu_fixpos_on" onclick="topmenu_fixpos(true)"><i class="fa fa-thumbtack fa-md"></i>Закрепить меню</a></li>
                    <li id="topmenu_fixpos_off" onclick="topmenu_fixpos(false)"><i class="fa fa-thumbtack fa-md"></i>Скрывать меню</a></li>
                    {% if request.user.is_superuser %}
                    <li><a href="/admin/" target="_blank"><i class="fa fa-cogs fa-md"></i>Администрирование</a></li>
                    {% endif %}
                    <!--
                    <li><a><i class="fa fa-certificate fa-md"></i>Сертификаты</a>
                        <ul class="submenu">
                            <li><a href="/files/atlas.crt" target="_blank"><i class="fa fa-certificate fa-md"></i>Сапфир</a></li>
                            <li><a href="/files/atlas.30.110.crt" target="_blank"><i class="fa fa-certificate fa-md"></i>192.168.0.0</a></li>
                        </ul>
                    </li>
                    -->
                    <li class="divider"></li>

                    <li onclick="alertify.error('Инструкция в стадии разработки')"><a><i class="fa fa-info-circle fa-md"></i>Инструкция</a></li>
                    <!--
                    <li><a href="/manual/" target="_blank"><i class="fa fa-info-circle fa-md"></i>Инструкция</a></li>
                    -->
                </ul>
            </li>
        </ul>
    </nav>
</section>
<section id="menu_main_fake"></section>
