<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <head>
        {% include "head-ini-base.html" %}
        {% include "head-ini-jquery.html" %}
        <link rel="stylesheet" href="{% static "css/auth.css" %}">
    </head>
    <body>
        <header class="select_off">
            <p class="str_title_1">информационно-аналитическая система</p>
            <p class="str_title_1">оперативного назначения</p>
            <svg class="str_logo">
                <pattern id="pattern_fire" viewBox="30 100 186 200" width="216" height="300" patternUnits="userSpaceOnUse" x="-60" y="-100">
                    <image xlink:href="{% static "img/logo/logo-animation-background.gif" %}" width="256" height="300"/>
                </pattern>
                <text id="logo" x="50%" y="80%" text-anchor="middle">{{  pag_title  }}</text>
            </svg>
            {% if login_error %}<p class="str_pass_wrong">{{ login_error }}</p>{% endif %}
        </header>

        <!--[if lte IE 7]><style>.main{display:none;} .support-note .note-ie{display:block;}</style><![endif]-->
        <div class="support-note">
            <span class="note-ie">Извините, это работает только в современных браузерах.</span>
        </div>

        <section class="main">
            <form class="form-login" action="/auth/login/" method="post">
                {% csrf_token %}
                <p class="field">
                    <input type="text" name="login" placeholder="Логин" autocomplete="username">
                    <i class="fa fa-user fa-lg"></i>
                </p>
                <p class="field">
                    <input type="password" name="password" placeholder="Пароль" autocomplete="current-password">
                    <i class="fa fa-lock fa-lg"></i>
                </p>
                <p class="submit">
                    <button type="submit" name="submit"><i class="fa fa-arrow-right fa-lg"></i></button>
                </p>
            </form>
        </section>

        <img id="logo2" src="{% static "img/logo/logo-animation.gif" %}" alt="LOGO"  width=350/>

        <script type="text/javascript" src="{% static "js/auth.js" %}" defer></script>
    </body>
</html>
