# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.log
*.log.*

log/
pid/
env/
env.bak/
.venv
venv/
venv.bak/

.python-version
.pytest_cache
.idea
.ipynb_checkpoints
backend/log/
backend/env/
backend/static/
backend/script/user_scripts
backend/script/user_triggers
backend_ml/env/
backend_loaders/files/

frontend/webpack-stats.json
frontend/package-lock.json
backend/static
backend/webpack-stats.json
migrations/

TEST/
#__init__.py


# git rm --cached -r *migrations/*
# git check-ignore -v -- backend_loaders/daemons/loaderTG/env/


