# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

log/
*.log
pid/

*.pyc

# pyenv
.python-version

# Environments
env/
env.bak/
.venv
venv/
venv.bak/

.pytest_cache
.idea
backend/log/
backend/env/
backend/static/
backend/script/user_scripts
backend/script/user_triggers
backend_ml/env/
backend_loaders/files/

frontend/webpack-stats.json
frontend/package-lock.json
backend/static
backend/webpack-stats.json
*migrations/*

TEST/
#__init__.py


# git rm --cached -r *migrations/*


