<!DOCTYPE html>
<html lang="ru">
     <head>
        {% load static %}
        <script type="text/javascript" src="{% static "const.js" %}" defer></script>
        {% include "head-ini-common.html" %}
        {% include "head-ini-jquery.html" %}
        {% include "head-ini-d3.html" %}
        {% include "head-ini-sys-net.html" %}
        {% include "head-ini-form-el-id.html" %}
        <link rel="stylesheet" href="{% static "css/graph.css" %}">
    </head>
    <body>
        {% include "nav.html" %}
        <div id='main'></div>
        <script type="text/javascript" src="{% static "form/form-info.js" %}" defer></script>
        <script type="text/javascript" src="{% static "lib-internal/sys/sys-svg.js" %}" defer></script>
        <script type="text/javascript" src="{% static "js/graph-defs.js" %}" defer></script>
        <script type="text/javascript" src="{% static "js/graph-data.js" %}" defer></script>
        <script type="text/javascript" src="{% static "js/graph-node.js" %}" defer></script>
        <script type="text/javascript" src="{% static "js/graph-menu-main.js" %}" defer></script>
        <script type="text/javascript" src="{% static "js/graph-menu-node.js" %}" defer></script>
        <script type="text/javascript" src="{% static "js/graph-svg.js" %}" defer></script>
        <script type="text/javascript" src="{% static "js/graph.js" %}" defer></script>
    </body>
</html>