#menu_main {
    display: block;
    position: fixed;
    width: 100%;
    min-width: 1100px;
    top: -33px;
    left: 0;
    z-index: 99999;
    background-color: inherit;
    transition: top 0.3s;
}
#menu_main.topmenu_fixpos {
    top: 0;
}
#menu_main:hover:not(.topmenu_fixpos) {
    top: 0;
    transition: top 0.3s;
}
#menu_main_fake {
    display: block;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    height: 33px;
    z-index: -99999;
}
#menu_main nav {
    position: block;
    width: 100%;
    margin: 0; padding: 0;
    z-index: 9999;
    font-size: 1.2em;
    font-family: sans-serif;
    color: #fff;
    font-weight: 200;
    box-shadow: 0 0 10px black;
    }
#menu_main ul {
    margin: 0; padding: 0;
}
#menu_main li {
    position: relative;
    z-index: 99999;
    white-space: nowrap;
    cursor: pointer;
    list-style: none;
    text-shadow: 2px 2px 2px #336;

    -webkit-transition: background-color ease-in 200ms;
    -moz-transition: background-color ease-in 200ms;
    -ms-transition: background-color ease-in 200ms;
    -o-transition: background-color ease-in 200ms;
    transition: background-color ease-in 200ms;
}


/************************************************
 * ЦВЕТА
 ************************************************/
#menu_main li.has_submenu ul,
#menu_main li.has_submenu li {
    background-color: var(--color-main);
}
#menu_main nav > ul {
    background-image: linear-gradient(var(--color-main-light), var(--color-main));
}
#menu_main li:hover:not(.divider):not(.item_logo):not(.item_select):not(.disabled) {
    background-image: radial-gradient(var(--color-main-light-top), var(--color-main));
    border-radius: 10px;
}


/************************************************
 * ТОПМЕНЮ
 ************************************************/
#menu_main li.topmenu {
    display: inline-table;
    padding: .3em 1em;
}
#menu_main li.topmenu ul {
    display:none;
    position: absolute;
}
#menu_main li:hover:not(.disabled) > ul {
    display: table;
}


/************************************************
 * ТОПМЕНЮ - ВЫДЕЛЕННЫЙ ЭЛЕМЕНТ
 ************************************************/
#menu_main li.topmenu.item_select > a,
#menu_main li.topmenu.item_work > a {
    color: var(--color-logo);
}
#menu_main li.topmenu.item_select {
    cursor: default;
}


/************************************************
 * СУБМЕНЮ
 ************************************************/
#menu_main ul.submenu {
    top: 100%; left: 0;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #073e01;
    /*box-shadow: 0 0 10px black;*/
}
#menu_main ul.submenu .submenu {
    top: -.5em; left: 100%;
    font-size: 1em;
}
#menu_main ul.submenu li {
    padding: .2em 1.5em;
    font-size: 1rem;
}
#menu_main li.divider {
    padding: 0;
    border-top: 1px solid #343434;
    margin: .5rem auto .3rem;
    cursor: default;
}
#menu_main li.divider:hover {
    background-color: transparent;
}
#menu_main .topmenu-right{
    float: right;
    margin: 2px 0 0;
}
#menu_main .topmenu i,
#menu_main .topmenu-right i {
    width: 20px;
    margin-right: 15px;
}
#menu_main .topmenu i.topmenu-icononly {
    margin-left: 5px !IMPORTANT;
    margin-right: 5px !IMPORTANT;
    text-align: center;
}
#menu_main a {
    color: white;
    text-decoration: none;
}
#menu_main .topmenu-user {
    min-width: 200px;
}


/************************************************
 * ВЫПАДАЮЩЕЕ МЕНЮ
 ************************************************/
#menu_main li.has_submenu > a:after {
    content: ' ▸';
}
#menu_main li.has_submenu:hover:not(.disabled) > a:after {
    content: ' ◂';
}
#menu_main li.has_submenu.topmenu > a:after {
    content: ' ▾';
}
#menu_main li.has_submenu:hover:not(.disabled).topmenu > a:after {
    content: ' ▴';
}
#menu_main li.has_submenu {
    cursor: default;
}


/************************************************
 * DISABLED
 ************************************************/
#menu_main .disabled * {
    color: #b3b3b3;
    cursor: default;
}

/************************************************
 * ЭЛЕМЕНТ МЕНЮ С ЛОГОТИПОМ
 ************************************************/
#menu_main li.item_logo {
    display: inline-table;
    font-family: Verdana;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 0.05em ;
    text-shadow: 1px 4px 4px rgb(11, 204, 159);
    cursor: pointer;
    padding: 0 0em 0 0.6em;
    margin: 0 1.2em 0 0;
}

#menu_main li.item_logo a {
    color: var(--color-logo);
}

#menu_main li.item_logo a span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(121, 117, 117, 0), rgba(255,255,255,.8), rgba(121, 117, 117, 0)) no-repeat -2em 0%;
    background-size: 2em 100%;
    transform: skewX(-50deg);
}

#menu_main li.item_logo a span.blink_on:after {
    transition: 0.5s linear;
    background-position: 130% 0%;
}

.fl {
    font-family: "fontello";
}