:root {
  --color-main: #0a3df9;
  --color-main-light: #13A503;
  --color-logo: #0E7702;
}

.divBlock {
  display: inline-block;
  vertical-align: top;
}

svg {
  font: normal 10px sans-serif;
  cursor: default;
}

/*****   внутренняя тень   *****/
.shadow_inner_2 {
    -webkit-box-shadow: inset 4px 2px 6px -2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 4px 2px 6px -2px rgba(0, 0, 0, 0.4);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*****   наружная тень   *****/
.shadow_outer_2 {
    -webkit-box-shadow: 2px 2px 10px 0px #666666;
    -moz-box-shadow: 2px 2px 10px 0px #666666;
    box-shadow: 2px 2px 10px 0px #666666;
}

.shadow_outer_3 {
    -webkit-box-shadow: 3px 3px 20px 0px #000000;
    -moz-box-shadow: 3px 3px 20px 0px #000000;
    box-shadow: 3px 3px 20px 0px #000000;
}

/*****   закругления углов   *****/
.corner_round_2 {
    border: 1px solid gray;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}

.corner_round_4 {
    border: 1px solid gray;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

/*****   отключить выделение при фокусе   *****/
.focus_off:focus {
    outline: none;
}

/***** отключить выделение текста  *****/
.select_off {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: default;
}



/************************/
/******** TABLE *********/
/************************/
.tableStyle_01                              { display: inline-block; vertical-align: middle; text-align: left; cursor: default; }
.tableStyle_01      table                   { display: table; width: 100%; height: auto; }
.tableStyle_01      td                      { width: auto; padding: .2em .5em; border: 1px solid #d4d4d0; vertical-align: middle; }

.tableStyle_01      thead                   { background: linear-gradient(to top, #D6D6D6 50%, #F7F7F7); }
.tableStyle_01      thead td                { font: normal 10px sans-serif; line-height: 2.0em; color: #7B7B7B; }
.tableStyle_01      thead td:hover          { background: linear-gradient(to top, #E6E6E6 50%, #FAFAFA); cursor: pointer; }

.tableStyle_01      thead i.isort           { margin-left: 5px; }
.tableStyle_01      thead td.isort          { background: linear-gradient(to top, #C8DDFF 50%, #F2F7FF); }
.tableStyle_01      thead td.isort:hover    { background: linear-gradient(to top, #D8EDFF 50%, #F2F7FF); }

.tableStyle_01      tbody td                { font: normal 11px sans-serif; line-height: 1.4em; }
.tableStyle_01      tbody a                 { color: inherit; text-decoration: none; cursor: pointer; }
.tableStyle_01      tbody tr:nth-child(odd) { background-color: #F7F7F7; }
.tableStyle_01      tbody tr:hover          { background: #ffffcb; }


/************************/
/******** LOADER ********/
/************************/
.loader {
  position: absolute;
  border: 8px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1.0s linear infinite;
  border-top: 8px solid #555;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  opacity: .5;
}


@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/************************/
/****** АНИМАЦИЯ ********/
/************************/
.animation_duration_1{
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  -moz-transition-duration: 1s;
  transition-duration: 1s;
}
.animation_duration_1:hover{
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  -moz-transition-duration: 1s;
  transition-duration: 1s;
}

.animation_duration_2{
  -webkit-transition-duration: 2s;
  -o-transition-duration: 2s;
  -moz-transition-duration: 2s;
  transition-duration: 2s;
}
.animation_duration_2:hover{
  -webkit-transition-duration: 2s;
  -o-transition-duration: 2s;
  -moz-transition-duration: 2s;
  transition-duration: 2s;
}

.animation_delay_1{
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  -moz-transition-delay: 1s;
  transition-delay: 1s;
}
.animation_delay_1:hover{
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  -moz-transition-delay: 1s;
  transition-delay: 1s;
}



/************************/
/********* DEFS *********/
/************************/
#gradientGreen      stop.start-color { stop-color: #efe; stop-opacity: .5; }
#gradientGreen      stop.end-color   { stop-color: #6e6; stop-opacity: .6; }
#gradientGreenLight stop.start-color { stop-color: #efe; stop-opacity: .5; }
#gradientGreenLight stop.end-color   { stop-color: #3f3; stop-opacity: .6; }

#gradientRed        stop.start-color { stop-color: #FFE9E9; stop-opacity: .5; }
#gradientRed        stop.end-color   { stop-color: #FF6B6B; stop-opacity: .6; }
#gradientRedLight   stop.start-color { stop-color: #FFE9E9; stop-opacity: .5; }
#gradientRedLight   stop.end-color   { stop-color: #FF9C9C; stop-opacity: .6; }

#gradientBlue       stop.start-color { stop-color: #fff; stop-opacity: .5; }
#gradientBlue       stop.end-color   { stop-color: #33FCFF; stop-opacity: .6; }
#gradientBlueLight  stop.start-color { stop-color: #fff; stop-opacity: .5; }
#gradientBlueLight  stop.end-color   { stop-color: #8EFBFD; stop-opacity: .6; }

#gradientGray       stop.start-color { stop-color: #fff; stop-opacity: .5; }
#gradientGray       stop.end-color   { stop-color: #ccc; stop-opacity: .6;  }
#gradientGrayLight  stop.start-color { stop-color: #fff; stop-opacity: .5; }
#gradientGrayLight  stop.end-color   { stop-color: #ddd; stop-opacity: .6;  }



/************************/
/********* COLOR ********/
/************************/
.gradGreen       { fill: url(#gradientGreen);      }
.gradGreen:hover { fill: url(#gradientGreenLight); }
.gradRed         { fill: url(#gradientRed);        }
.gradRed:hover   { fill: url(#gradientRedLight);   }
.gradBlue        { fill: url(#gradientBlue);       }
.gradBlue:hover  { fill: url(#gradientBlueLight);  }
.gradGray        { fill: url(#gradientGray);       }
.gradGray:hover  { fill: url(#gradientGrayLight);  }

.fillGreen       { fill: rgb(0,   125, 0);   }
.fillRed         { fill: rgb(125, 0,   0);   }
.fillBlue        { fill: rgb(0,   0,   125); }
.fillGray        { fill: #666;               }

.colorGreen      { color: rgb(0,   125, 0);   }
.colorRed        { color: rgb(125, 0,   0);   }
.colorBlue       { color: rgb(0,   0,   125); }
.colrGray        { color: #666;               }
