.d3MenuContext {
    position: absolute;
    display: none;
    z-index: 999999;

    min-width: 150px;
    padding: 2px;
    margin: 0;

    background: #eee;
    background: -webkit-linear-gradient(to bottom, #fff 0%, #e5e5e5 100px, #e5e5e5 100%);
    background: linear-gradient(to bottom, #fff 0%, #e5e5e5 100px, #e5e5e5 100%);


    border: 1px solid #bbb;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);

    font-family: Arial, sans-serif;
    font-size: 12px;

    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
}

.d3MenuContext {
    list-style-type: none;
    margin: 4px 0px;
    padding: 0px;
    cursor: default;
}

.d3MenuContext li {
    display: block;
    padding: 4px 24px 4px 8px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.d3MenuContext li label {
    display: inline-flex; /*inline-block;*/
    width: calc( 100% - 25px );
    padding-right: 15px;
}

.d3MenuContext li[type=""] label,
.d3MenuContext li[type="submenu"] label {
    white-space: nowrap;
}

.d3MenuContext li[type="radio"] label,
.d3MenuContext li[type="checkbox"] label {
    width: auto;
}

.d3MenuContext li i,
.d3MenuContext li input[type="radio"],
.d3MenuContext li input[type="checkbox"] {
    left: 0;
    width: 16px;
    margin-right: 8px;
}

.d3MenuContext li input[type="radio"] ~ span,
.d3MenuContext li input[type="checkbox"] ~ span {
    width: auto;
}

.d3MenuContext li span,
.d3MenuContext li input[type="text"],
.d3MenuContext li select {
    white-space: nowrap;
    display: inline-block;
    width: 100%;
}
/*
.d3MenuContext li span {
    margin: 2px 0;
}
*/



.d3MenuContext .d3MenuContextItemDisabled {
    opacity: .5;
}

.d3MenuContext .d3MenuContextItemSeparator {
    padding: 0;
    margin: .35em 0;

    border-bottom: 1px solid #aaa;
    background-color: #bbb;
}

.d3MenuContext li:not(.d3MenuContextItemDisabled):not(.d3MenuContextItemSeparator):hover {
    background-color: #2E3940;
    background: -webkit-linear-gradient(to bottom, #5D6D79, #2E3940);
    background: linear-gradient(to bottom, #5D6D79, #2E3940);
    color: #fff;
}
.d3MenuContext li:not(.d3MenuContextItemDisabled):not(.d3MenuContextItemSeparator),
.d3MenuContext li:not(.d3MenuContextItemDisabled):not(.d3MenuContextItemSeparator) > *:not(ul) {
    cursor: pointer!important;
}


/* СУБМЕНЮ */
.d3MenuContext .d3MenuContextSubmenu {
    display: none;
    width: auto;
    max-width: 30em;
    color: black;
}

.d3MenuContext > li:hover .d3MenuContextSubmenu {
    display: inline-block;
}

/* СУБМЕНЮ: СТРЕЛКА ; */
.d3MenuContext li[type="submenu"] > label:after {
    position: absolute;
    margin-top: 8px;
    right: .5em;
    width: 0;
    height: 0;
    z-index: 1;
    content: '';

    border-color: transparent transparent transparent #2f2f2f;
    border-style: solid;
    border-width: .25em 0 .25em .25em;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.d3MenuContext li[type="submenu"]:hover:not(.d3MenuContextItemDisabled) > label:after {
    border-color: transparent transparent transparent white;
}
