    {% load static %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Информационно-аналитическая система {{  pag_title  }}">
    <meta name="keywords"    content="analytic, analyst, finder, search, saphir, {{  pag_title  }}">
    <meta name="author"      content="Gennady Viertinskii">

    <title>{{  pag_title  }}</title>

    {# <link rel="icon"       href="data:;base64,="> #}
    <link rel="shortcut icon" href="{% static "img/logo/logo-title.png" %}" type="image/png">
    <link rel="stylesheet" href="{% static "lib-internal/ini/ini-reset.css" %}">
    <link rel="stylesheet" href="{% static "lib-internal/ini/ini-normalize.css" %}">
    <link rel="stylesheet" href="{% static "lib-internal/ini/ini-set.css" %}">
    <link rel="stylesheet" href="{% static "lib-external/font/fontawesome/css/all.min.css" %}">
