    {% load static %}
    {# ЗАВИСИМОСТЬ: jquery #}
    <link rel="stylesheet" href="{% static "lib-external/jstree/themes/default/style.min.css" %}"/>
    <link rel="stylesheet" href="{% static "lib-external/jstree/jstree.my.css" %}"/>
    <script type="text/javascript" src="{% static "lib-external/jstree/jstree.min.js" %}"></script>
    <script type="text/javascript" src="{% static "lib-external/jstree/jstree.checkbox.js" %}"></script>
    <script type="text/javascript" src="{% static "lib-external/jstree/jstree.grid.js" %}"></script>
    <script type="text/javascript" src="{% static "lib-external/jstree/jstree.my.checked.js" %}"></script>
    <script type="text/javascript" src="{% static "lib-external/jstree/jstree.my.selected.js" %}"></script>
