    {% load static %}

    <link rel="stylesheet" href="{% static "lib-external/leaflet/leaflet/leaflet.css" %}"/>
    <link rel="stylesheet" href="{% static "lib-external/leaflet/leaflet.marker.cluster/MarkerCluster.css" %}"/>
    <link rel="stylesheet" href="{% static "lib-external/leaflet/leaflet.marker.cluster/MarkerCluster.Default.css" %}"/>
    <link rel="stylesheet" href="{% static "lib-external/leaflet/leaflet.marker.awesome/leaflet.awesome-markers.css" %}"/>
    <link rel="stylesheet" href="{% static "lib-external/leaflet/leaflet.marker.pulse/L.Icon.Pulse.css" %}"/>
    <link rel="stylesheet" href="{% static "lib-external/leaflet/leaflet.my/leaflet.my.css" %}">

    <script type="text/javascript" src="{% static "lib-external/leaflet/leaflet/leaflet.js" %}"></script>
    <script type="text/javascript" src="{% static "lib-external/leaflet/leaflet.editable/src/Leaflet.Editable.js" %}"></script>

    <script type="text/javascript" src="{% static "lib-external/leaflet/leaflet.marker.cluster/leaflet.markercluster.js" %}"></script>
    <script type="text/javascript" src="{% static "lib-external/leaflet/leaflet.marker.awesome/leaflet.awesome-markers.min.js" %}"></script>
    <script type="text/javascript" src="{% static "lib-external/leaflet/leaflet.marker.pulse/L.Icon.Pulse.js" %}"></script>

    <script type="text/javascript" src="{% static "lib-external/leaflet/leaflet.my/leaflet.my.js" %}" defer></script>
    <script type="text/javascript" src="{% static "lib-external/leaflet/leaflet.my/leaflet.my.edit.js" %}" defer></script>
    <script type="text/javascript" src="{% static "lib-external/leaflet/leaflet.my/leaflet.my.view.base.js" %}" defer></script>
    <script type="text/javascript" src="{% static "lib-external/leaflet/leaflet.my/leaflet.my.view.colors.js" %}" defer></script>
    <script type="text/javascript" src="{% static "lib-external/leaflet/leaflet.my/leaflet.my.markers.js" %}" defer></script>
