{% load static %}
<div class="nav" role="navigation" data-options="region:'north',split:false,border:false,collapsible:false">
    <a class="logo" href="/">
        <i class="far fa-gem"></i>
        <span style="text-transform:uppercase;">{{ pag_title }}</span>
    </a>
    <a id="nav-map"   href="/map/" class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-globe'"></i>Карта</a>
    <a id="nav-graph" href="/graph/" class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-project-diagram'">Граф</a>

    {% if username %}
    <a href="javascript:void(0)" class="easyui-menubutton" data-options="menu:'#nav-user',iconCls:'fa fa-user'" style="float:right;">{{ username }}</a>
    <div id="nav-user" class="nav-submenu" style="width:200px;">
        <div href="/admin/password_change/" data-options="iconCls:'fa fa-key'">Изменить пароль</div>
        <div href="/auth/logout/" data-options="iconCls:'fa fa-sign-out-alt'">Выйти</div>
    </div>

    <a href="javascript:void(0)" class="easyui-menubutton" data-options="menu:'#nav-set',iconCls:'fa fa-tools'" style="float:right;">Инструменты</a>
    <div id="nav-set" class="nav-submenu" style="width:200px;">
        <div>
            <span>Уведомления</span>
            <div>
                <div data-options="iconCls:'fa fa-eye'" onclick="alerts.get()">Показать</div>
                <div data-options="iconCls:'fa fa-plus'" onclick="alerts.dlg_admin()">Создать</div>
                <div id="nav_alerts_on" onclick="nav_alerts(true)" data-options="iconCls:'fa fa-check'">Включить</div>
                <div id="nav_alerts_off" onclick="nav_alerts(false)" data-options="iconCls:'fa fa-times'">Отключить</div>
            </div>
        </div>

        {# <div id="nav_fixpos_on" onclick="nav_fixpos(true)" data-options="iconCls:'fa fa-thumbtack'">Закрепить меню</div> #}
        {# <div id="nav_fixpos_off" onclick="nav_fixpos(false)" data-options="iconCls:'fa fa-thumbtack'">Скрывать меню</div> #}

        {% if request.user.is_superuser %}
        <div href="/admin/" target="_blank" data-options="iconCls:'fa fa-cogs'">Администрирование</div>
        {% endif %}
        {# <div class="menu-sep"></div> #}
        {# <div onclick="alertify.error('Инструкция в стадии разработки')" data-options="disabled:true,iconCls:'fa fa-info-circle'">Инструкция</div> #}

    </div>
    {% endif %}
</div>
