
.jstree-container-ul .no_checkbox > i.jstree-checkbox { display: none; }
.jstree-container-ul li>a.jstree-title { font-weight: bold; color: var(--color-main); }
/*.jstree-container-ul>li>a.jstree-title { font-weight: bold; }*/
.jstree-container-ul .jstree-title { color: black; }
.jstree-container-ul .jstree-title i,
.jstree-container-ul .jstree-icon  { color: var(--color-main); }

/*grid*/
.jstree-grid-column-0 { width: 200px; }
.jstree-grid-header-regular { background-color: var(--color-main-fog)!important; }
.jstree-grid-column .jstree-anchor, .jstree-grid-col-1, .jstree-grid-col-2 { border-bottom: 1px solid #ddd; }
.jstree-grid-column-1, .jstree-grid-column-2 { border-left: 1px solid #ddd; }

