<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <script type="text/javascript" src="{% static "const.js" %}" defer></script>
    {% include "head-ini-jquery.html" %}
    {# include "head-ini-d3.html" #}
    {% include "head-ini-leaflet.html" %}
    {# include "head-ini-pannellum.html" #}
    {# include "head-ini-jstree.html" #}
    {% include "head-ini-common.html" %}

    {% include "head-ini-sys-net.html" %}
    {# include "head-ini-form-hide.html" #}
    {# include "head-ini-form-sys.html" #}
    {# include "head-ini-form-el-id.html" #}
    <link rel="stylesheet" href="{% static "css/map.css" %}">
</head>
<body class="select_off" style='display:none'>
    <div id="layout" class="easyui-layout body-layout" data-options="fit:true" style="width:100%;height:100%;">
        {% include "sys-nav.html" %}
        {# <div data-options="region:'east',split:true,title:'Настройки'" style="width:200px;"></div> #}
        {# <div data-options="region:'west',split:true,title:'Анализ',collapsed:true,expandMode:'dock',hideExpandTool:true,collapsedSize:1"style="width:500px;"><ul id="script-list" class="easyui-tree" data-options="animate:true"></ul></div> #}
        <div id="layout-center" data-options="region:'center'" style="padding:5px;"></div>
    </div>
    <div id="menu" class="easyui-menu" style="width:120px;">
        <div class="show" data-options="iconCls:'far fa-eye'">Отобразить...</div>
<!--         <div>
            <span>Open</span>
            <div style="width:150px;">
                <div><b>Word</b></div>
                <div>Excel</div>
                <div>PowerPoint</div>
            </div>
        </div>
        <div data-options="iconCls:'icon-save'">Save</div>
        <div class="menu-sep"></div>
        <div>Exit</div>
 -->    </div>

    {# <script type="text/javascript" src="{% static "js/map-atd.js" %}" defer></script> #}
    {# <script type="text/javascript" src="{% static "js/map-edit.js" %}" defer></script> #}
    {# <script type="text/javascript" src="{% static "js/map-media.js" %}" defer></script> #}

    <script type="text/javascript" src="{% static "form/form-analiz.js" %}" defer></script>
    <script type="text/javascript" src="{% static "js/map-organizer.js" %}" defer></script>
    <script type="text/javascript" src="{% static "js/map.js" %}" defer></script>
</body>
</html>