.form_hide {
  position: fixed;
  padding: 10px;
  text-align: left;
  z-index: 10000;

  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;

  box-shadow: 0 2px 4px #336;
  background-color: #fff;
}

.form_hide_left:hover,  .form_hide_left.active  { left:  0!important; }  /* меняется в PanelHide.hideHard() */
.form_hide_right:hover, .form_hide_right.active { right: 0!important; }

.form_hide .panelScroll {
  width: 100%;
  overflow: auto;
  padding: 3px;
  border: 2px solid var(--color-main);
}

.form_hide .mTitle           { cursor: pointer; }
.form_hide .mTitle > p       { display: inline-block; }
.form_hide .mTitle > i       { color: var(--color-main); margin: 3px 0; }
.form_hide .mTitle > i.hide  { opacity: 0; }
.form_hide_left  .mTitle > i { float: right; }
.form_hide_right .mTitle > i { float: left; }

