:root {
  --app-color-obj: #00796B;
}

#app, #main, .h-100 {
  height: 100%;
}

/* отключить выделение текста */
.select-off {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

/* тень сплиттера */
.split-shadow-effect {
  box-shadow: rgb(119 119 119) 6px 0 12px 0 !important;
  z-index: 9999;
}

/*  */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #FFFFFF;
}
::-webkit-scrollbar-thumb {
  background : rgba(0, 0, 0, .1);
}
