
/*
 * CLUSTER
 */
div.marker-cluster-bg-new { background-color: #ffffff52; }
div.marker-cluster-bg-new span { color: #fbff00; text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 10px; }



/*
 * PULSE
 */
@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    50% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}



/*
 * FONT
 */
.marker-font {
  position: absolute;
  bottom: 0;left: -50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.marker-font-content {
  order: 1;
  position: relative; left: -50%;
  background-color: #ffffffbc;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #444;
  /* padding: 0 3px; */
  white-space: nowrap;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.marker-font-arrow {
  order: 2;
  width: 0px; height: 0px; left: 50%;
  border-style: solid;
  border-color: #444 transparent transparent transparent;
  border-width: 10px 6px 0 6px;
  margin-left: -6px;
}


.marker-font-mdi {
  order: 1;
  position: relative; left: -50%;
  white-space: nowrap;
  font-size: 3em;
}


/* ЛОКАЛЬНЫЕ ШРИФТЫ */
@font-face {
  font-family: "Special";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  /*unicode-range: U+00354A2, U+0032;*/
  src:
    local("Special"),
    url("~@/assets/font/fs.woff") format("woff");
}


.fs { font-family: "Special"; font-size: 5em; line-height: 1; }
.fs-test { transform: rotate(30deg); }
.fs-spec1:before { content: "\0032"; }
.fs-spec2:before { content: "\0354A2"; }
.fs-spec3:before { content: "\0354A3"; }
.fs-spec0:before { content: "\0033"; }
