/* МАРКЕР FONT */

.marker-font {
  position: absolute;
  bottom: 0;left: -50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.marker-font-content {
  order: 1;
  position: relative; left: -50%;
  background-color: #ffffffbc;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #444;
  /* padding: 0 3px; */
  white-space: nowrap;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.marker-font-arrow {
  order: 2;
  width: 0px; height: 0px; left: 50%;
  border-style: solid;
  border-color: #444 transparent transparent transparent;
  border-width: 10px 6px 0 6px;
  margin-left: -6px;
}


/* ЛОКАЛЬНЫЕ ШРИФТЫ */
@font-face {
  font-family: "Special";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  /*unicode-range: U+00354A2, U+0032;*/
  src:
    local("Special"),
    url("~@/assets/font/fs.woff") format("woff");
}


.marker-font-mdi {
  order: 1;
  position: relative; left: -50%;
  white-space: nowrap;
  font-size: 3em;
}

.fs { font-family: "Special"; font-size: 5em; line-height: 1; }
.fs-test { transform: rotate(30deg); }
.fs-spec1:before { content: "\0032"; }
.fs-spec2:before { content: "\0354A2"; }
.fs-spec3:before { content: "\0354A3"; }
.fs-spec0:before { content: "\0033"; }
